<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">

<body  style="margin-left: 400px; margin-top: 0px">

 
<H1 style="margin-left: 45%">Santosha</H1>

    <img class="fit-picture" src="../assets/img/santosha.jpg"
    alt="Accueil" class="rounded mx-auto d-block" style="border: 1px solid" >


    <div class="row" style="margin-left:20.9%">
      <div class="col"> 10 Rue des Filatiers, 31000 Toulouse</div>
    </div>

    <div class="row" style="margin-top:20px; font-size: large;"> <h1>Activité récente</h1></div>
      <br/>
    <div class="row">
      <!--Occupe 6 colonnes-->
      <div class="col-3 "style="border: 3px solid">Nombre de visiteurs : 23 </div>
      <div class="col-1 "></div>
      <!--Occupe 4 colonnes-->
      <div class="col-3" style="border: 3px solid">Nombre de ventes cette semaine : 12</div>
      <div class="col-1 "></div>
      <!--Occupe 8 colonnes-->
      <div class="col-3 "style="border: 3px solid">Nombre de nouveaux clients : 3</div>
    </div>
</body>


<router-outlet></router-outlet>