<p>marketing works!</p>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">


<div class="nav-side-menu"> 
    <div class="brand">Nom du restaurant</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="#" >
               Statistiques
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#">Vos établissements</a>
                </li>
             


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#">Commentaires </a>
                </li>  
           


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"> Informations bancaire </a>
                </li>
              
                <li data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a routerLink="connexion">
                     Marketing
                  </a>
                </li>   

                <li data-toggle="collapse" data-target="#products" class="collapsed ">
                  <a href="#">
                     Temps de préparation des plats
                  </a>
                </li>   
                 <li>
                  <a href="#">
                  <i class="fas fa-user-tie fa-lg"></i> Informations du restaurant
                  </a>
                  </li>

              
            </ul>
     </div>
</div>
<body  style="margin-left: 400px; margin-top: 50px">
  
<h1>Promotions </h1>
<br/>
  <table class="table" style = "border:2px solid black; width: 1000px;" >
    <thead class="thead-light">
      <tr>
        <th scope="col">Type d'offre</th>
        <th scope="col">Status</th>
        <th scope="col">Dates</th>
        <th scope="col">Utilisations</th>
        <th scope="col">Nouveaux clients</th>
        <th scope="col">Ventes</th>
        <th scope="col">Note Moyenne</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1 acheté 1 offert</td>
        <td style="color:green">En cours</td>
        <td>26/04/12</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>4/5</td>
      </tr>
      <tr>
        <td>1 acheté 1 offert</td>
        <td style="color:red">Terminée</td>
        <td>23/04/12</td>
        <td>3</td>
        <td>1</td>
        <td>15€</td>
        <td>4/5</td>
      </tr>
      <tr>

        <td>1 acheté 1 boisson offerte</td>
        <td style="color:red">Terminée</td>
        <td>20/04/12</td>
        <td>8</td>
        <td>4</td>
        <td>45€</td>
        <td>3.7/5</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-dark">Ajouter une promotion</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  



<router-outlet></router-outlet>