<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">


<body  style="margin-left: 400px; margin-top: 50px">
  
<h1>Promotions </h1>
<br/>
  <table class="table" style = "border:2px solid black; width: 1200px;" >
    <thead class="thead-light">
      <tr>
        <th scope="col">Type d'offre</th>
        <th scope="col">Status</th>
        <th scope="col">Date de début</th>
        <th scope="col">Date de fin</th>
        <th scope="col">Utilisations</th>
        <th scope="col">Nouveaux clients</th>
        <th scope="col">Ventes</th>
        <th scope="col">Note Moyenne</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td>5€ de réduction pour 15€ d'achat</td>
            <td style="color:green">En cours</td>
            <td>18/06/2021</td>
            <td>25/06/2021</td>
            <td>0/1000</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
      <tr>
        <td>1 acheté 1 offert</td>
        <td style="color:red">Terminée</td>
        <td>26/04/2021</td>
        <td>26/04/2021</td>
        <td>0/500</td>
        <td>0</td>
        <td>0</td>
        <td>4/5</td>
      </tr>
      <tr>
        <td>1 acheté 1 offert</td>
        <td style="color:red">Terminée</td>
        <td>23/04/2021</td>
        <td>23/04/2021</td>
        <td>3/500</td>
        <td>1</td>
        <td>15€</td>
        <td>4/5</td>
      </tr>
      <tr>

        <td>1 acheté 1 boisson offerte</td>
        <td style="color:red">Terminée</td>
        <td>20/04/2021</td>
        <td>20/04/2021</td>
        <td>8/500</td>
        <td>4</td>
        <td>45€</td>
        <td>3.7/5</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-dark" (click)="ajoutPromotion()"> Ajouter une promotion</button></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>  <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  



<router-outlet></router-outlet>