<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">

<body  style="margin-left: 400px; margin-top: 50px">
  
<h1>Temps de préparation moyen des plats</h1>
<br/>
  <table class="table" style = "border:2px solid black; width: 1000px;" >
    <thead class="thead-light">
      <tr>
        <th scope="col">Minutes</th>
        <th scope="col">Jour</th>
        <th scope="col">Heure début</th>
        <th scope="col">Heure fin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>30</td>
        <td>Lundi</td>
        <td>11h00</td>
        <td>13h30</td>
      </tr>
      <tr>
        <td>30</td>
        <td>Mercredi</td>
        <td>11h30</td>
        <td>14h00</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Jeudi</td>
        <td>12h00</td>
        <td>14h00</td>
      </tr>
      <tr>
        <td>45</td>
        <td>Vendredi</td>
        <td>12h30</td>
        <td>14h30</td>
      </tr>

      <tr>
        <td>30</td>
        <td>Dimanche</td>
        <td>12h00</td>
        <td>14h00</td>
      </tr>
   
    </tbody>
  </table>

  <button type="button" class="btn btn-dark" (click)="ajoutCreneau()">Ajouter un créneau</button> 


  <!-- <select name="jour" id="jour">
    <option value="dog">Lundi</option>
    <option value="cat">Mardi</option>
    <option value="hamster">Mercredi</option>
    <option value="parrot">Jeudi</option>
    <option value="spider">Vendredi</option>
    <option value="goldfish" selected ="selected">Samedi</option>
    <option value="spider">Dimanche</option>
</select> -->
<router-outlet></router-outlet>