<div class="container">


  <div class="row" style="margin-top: 125px">
    <div class="col">
      <h1>STUD’EAT permet aux étudiants de : </h1>
      <p class="text-justify"> 
        <li> consulter une liste des différentes offres étudiantes : restaurants, Crous & GO, food truck.</li>
        <li> commander en avance et payer via le service : sur place & à emporter.</li>
      <li> passer moins de temps à trouver où manger, faire la queue, procéder au paiement et attendre la préparation de la commande.</li>
       <li>gérer d’une meilleure manière son temps de pause.</li>
        <li>faire connaître à leur entourage de nouvelles adresses pour bien manger tout en faisant de réelles économies.</li>
        </p>
    </div>
    <div class="col" style="margin-left: 6%">
      <h1>STUD’EAT permet aux restaurateurs de :</h1>
      <p class="text-justify">
        <li>fluidifier les commandes via un service (plus simple que des appels téléphoniques).</li>
        <li>gérer les stocks plus facilement (mettre en avant un produit qu’il a en trop grande quantité, qu’il a besoin d’écouler) et donc éviter les invendus.</li>
        <li>attirer plus de clients, créer une nouvelle clientèle.</li>
        <li>avoir une clientèle très ciblée (étudiante).</li>
        <li>combler ses heures creuses.</li>

 </p>
    <!-- </div>
  </div>
  <div class="row visibilite">
    La classe bg-info ajoute un fond bleu à l'élément
    <div class="col ">1er image</div>
   La classe bg-warning ajoute un fond jaune à l'élément
    <div class="col ">
      <h1>Plus de visibilité</h1>
      <p class="text-justify">Un texte est une série orale ou écrite de mots perçus comme constituant un 
        ensemble cohérent, porteur de sens et utilisant les structures propres à une 
        langue. Un texte n'a pas de longueur déterminée sauf dans le cas de poèmes à 
        forme fixe comme le sonnet ou le haïku </p>
    </div>
 La classe bg-success ajoute un fond vert à l'élément
    <div class="col">2eme image</div>
  </div>
</div> -->
