<div class="container">


  <div class="row">
    <div class="col">
      <h1>Gestion des produits</h1>
      <p>1er texte dsssssssssssssssssssssss </p>
    </div>
    <div class="col">
      <h1>Plus grande clientèle</h1>
      <p>1er texte dsssssssssssssdsqqqqqqqqqqqqq
           </p>
    </div>
  </div>
  <div class="row visibilite">
    <!--La classe bg-info ajoute un fond bleu à l'élément-->
    <div class="col ">1er image</div>
    <!--La classe bg-warning ajoute un fond jaune à l'élément-->
    <div class="col ">
      <h1>Plus de visibilité</h1>
      <p>1er texte dsssssssssssssssssssssss </p>
    </div>
    <!--La classe bg-success ajoute un fond vert à l'élément-->
    <div class="col">2eme image</div>
  </div>
</div>
