<p>marketing works!</p>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">



<body  style="margin-left: 600px; margin-top: -60px; font-size: large;">
  <div class="col" style="margin-left: 100px"><h1>Informations du restaurant</h1> </div>
  <div style="border: 2px solid black; width:700px;"> 
   <div style="margin-left: 100px"> 
    <div class="row" style="text-decoration: underline;">
        
 
    </div>
    
    <br/>    
    <div class="row" style="margin-top:10px">
        <div class="col-5" ><p style="font-weight: bold;">Nom du restaurant :</p></div>
        <div class ="col-4"><p>Santosha </p></div>
   
      </div>

      <div class="row" style="">
        <div class="col-5 " ><p style="font-weight: bold; ">Adresse de facturation :</p></div>
        <div class ="col-4 " ><p>10 Rue des Filatiers, 31000 Toulouse  </p></div>
    
      </div>

      <div class="row" style="">
        <div class="col-5" ><p style="font-weight: bold;">Adresse mail :</p></div>
        <div class ="col-4 "><p>contact@santosha.fr  </p></div>

      </div>

   
      
      <div class="row" style="">
        <div class="col-5"><p style="font-weight: bold; ">Numéro de téléphone :</p></div>
        <div class ="col-4"><p>09 87 19 79 86  </p></div>

      </div>
      <br/>
      <div class="row" style="margin-left:100px">
        <div class="col-2" ><a href="#" class="btn btn-secondary btn-lg" role="button" aria-disabled="">Modifier mot de passe</a></div>
    <div class="row" style="margin-left:550px;">
     <br/>
      </div>
    </div>
  </div>
</div>

  <!--  -->
   <!--  -->
   <!--  -->
   <br/>   <br/>
   <br/>
 
   <div class="col"><h1>Informations du titulaire du compte</h1> </div>
   <div style="border: 2px solid black; width:700px;"> 
    <div style="margin-left: 100px"> 
    <div class="row" style="text-decoration: underline;">
     
  </div>
  
  <br/>    
  <div class="row" style="margin-top:10px">
      <div class="col-5" ><p style="font-weight: bold;">Nom du contact :</p></div>
      <div class ="col-4"><p>DUPUY </p></div>
    </div>

    <div class="row" style="">
      <div class="col-5" ><p style="font-weight: bold; ">Prénom du contact :</p></div>
    <div class ="col-4"><p>Jean  </p></div>
    </div>

    <div class="row" style="">

      <div class="col-5" ><p style="font-weight: bold;">Adresse mail :</p></div>
      <div class ="col-4"><p>jeandupuy@santosha.fr  </p></div>
    </div>

  
    
    <div class="row" style="">
      <div class="col-5" ><p style="font-weight: bold; ">Numéro de téléphone :</p></div>
      <div class ="col-4"><p>06 87 19 79 86  </p></div>
    </div>
    <br/>
    <div class="row" style="margin-left:100px">


      <div class="col-4" ><a href="#" class="btn btn-secondary btn-lg" role="button" aria-disabled="">Modifier les informations</a></div>
      <br/> <br/>  <br/>
    </div>
  </div>
   </div>

  <br/> <br/> <br/>