<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="wrapper fadeInDown" style="margin-top: -5%">
  <div id="formContent" >
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <p>Connectez-vous :</p>
    </div>

    <!-- Login Form -->
    <form id="demo" (ngSubmit)="verifLogs()" >
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Adresse mail" [(ngModel)]="rest.mail">
      <input type="text" id="password" class="fadeIn third" name="login" placeholder="Mot de passe" [(ngModel)]="rest.mdp">
      <input type="submit" class="fadeIn fourth" value="Validez"  >
      
    </form>


    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Mot de passe oublié ?</a>
    </div>

  </div>
</div>