


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html"><img class="fit-picture"
        src="../assets/img/Studeat-logo.jpg" 
        alt="Accueil"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent"  style="margin-left: 10%">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="Fonctionnement.html" >Fonctionnement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="PourquoiStudeat.html">Pourquoi STUD'EAT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="Liens.html"> Liens</a>
          </li>
        <li class="nav-item dropdown">
        </li>
    
      </ul>

    </div>