<p>marketing works!</p>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet">


<body  style="margin-left: 400px; margin-top: 25px; font-size: large;">

<h1 style ="width: 500px; "> Vos Coordonnées Bancaires  </h1> <p style="text-decoration:overline; font-size: italic; color:green; font-size:smaller"> Versement hebdomadaire</p>


<div class="container" style = "border:2px solid black; width: 800px; margin-left: 0px;" >


    <div class="row" style="margin-top:10px">
        <div class="col"><p style="font-weight: bold; text-decoration: underline;">DUPUY Gerard</p></div>
      </div>

 
    <div class="row">
      <div class="col-4" style="font-weight: bold;">Carte bancaire</div>
      <div class="col">4972 **** **** **** 1352</div>
  </div>

  <br/>
  <div class="row">
    <div class="col-4" style="font-weight: bold;">IBAN</div>
    <div class="col">FR76 **** **** **** **** *** 231</div>
</div>

  <br/>
    <div class="row">
    <div class="col-4" style="font-weight: bold;">BIC/SWIFT</div>
    <div class="col">CEPADEFRP112</div>
  </div>

  <br/>
  <div class="row">
    <div class="col-4" style="font-weight: bold;">RIB</div>
    <div class="col">13135 ***** ******** 80</div>
    <div class="col">
      <button type="button" class="btn btn-dark">Modifier les informations</button>
    </div>
  </div>

  
  <br/>

</div>
  


<router-outlet></router-outlet>