<div class="container cPrincipe">

  <div class="row">

    <div class="col">
      <img class="fit-picture" src="../assets/img/Studeat.jpg"
      alt="Accueil" class="rounded mx-auto d-block" style="height: 300px">
    </div>

    <div class="col">
      <h1>Le principe</h1>
      <p class="text-justify">
<strong>STUD'EAT </strong> est un service d’aide à la restauration pour les étudiants. Nous mettons en avant vos formules étudiantes sur notre application. Vous recevrez des commandes via une tablette que nous vous fournirons en location. Les étudiants devront ensuite venir récupérer leurs commandes à l’heure qui leur sera indiquée. Les paiements se font en ligne afin de faciliter la transaction.

      </p>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 3%">
      <h1>Comment devenir partenaire</h1>
      <p class="text-justify">    Afin de devenir partenaire de STUD’EAT, vous devez remplir le formulaire d’inscription. Par la suite, un membre STUD’EAT rentrera en contact avec vous afin de finaliser notre collaboration.</p>
  
    </div>
    <div class="col">
      <img class="fit-picture" src="../assets/img/Studeat.jpg"
      alt="Accueil" class="rounded mx-auto d-block" style="height: 300px">
    </div>
  </div>
</div>



