<div class="container cPrincipe">

  <div class="row">

    <div class="col">
      <img class="fit-picture" src="../assets/img/Studeat.jpg"
      alt="Accueil" class="rounded mx-auto d-block" style="height: 300px">
    </div>

    <div class="col">
      <h1>Le principe</h1>
      <p class="text-justify">
<strong>STUDEAT </strong>compte proposer un service exclusivement aux étudiants. Ce service se définit par la vente de repas à des prix adaptés à la vie d'un étudiant. 
L'application ne considère pas la livraison, et le service se fera uniquement en Click & Collect pour réduire au maximum le coût du service.
Les menus sont proposés par les partenaires restaurateurs.
      </p>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col" style="margin-top: 3%">
      <h1>Comment devenir partenaire</h1>
      <p class="text-justify">    Pour devenir partenaire restaurant de notre application et pouvoir proposer vos propres menus, vous devez remplir le formulaire d'inscription. Nous traiterons ensuite 
        la demande et vous répondrez dans les plus brefs délais.</p>
  
    </div>
    <div class="col">
      <img class="fit-picture" src="../assets/img/Studeat.jpg"
      alt="Accueil" class="rounded mx-auto d-block" style="height: 300px">
    </div>
  </div>
</div>



