<div class="container cPrincipe">

  <div class="row">

    <div class="col">
      2ème image
    </div>

    <div class="col">
      <h1>Le principe</h1>
      <p>
        2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq
        2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq
        2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq
      </p>

    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Comment devenir partenaire</h1>
      p 2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è
      dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq
      2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq
      2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq2è dsqdsqdsqqqqqqqqqq
    </div>
    <div class="col">
      2ème image
    </div>
  </div>
</div>
